<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.syj.spsound.music.repository.MusicRepository">
	
	<insert id="insertGenre" parameterType="map">
		INSERT INTO
			`genre`
		(
			`userId`
			, `genre`
		)
		VALUE
		(
			#{userId}
			, #{genre}
		)
	</insert>
	
	<select id="selectGenreList"
	parameterType="int" resultType="com.syj.spsound.music.domain.Genre">
		SELECT
			`id`
			, `userId`
			, `genre`
			, `createdAt`
			, `updatedAt`
		FROM
			`genre`
		WHERE
			`userId` = #{userId}
	</select>
	
	<select id="selectGenre"
	parameterType="map" resultType="com.syj.spsound.music.domain.Genre">
		SELECT
			`id`
			, `userId`
			, `genre`
			, `createdAt`
			, `updatedAt`
		FROM
			`genre`
		WHERE
			`userId` = #{userId}
			AND `genre` = #{genre}
	</select>
	
	<delete id="deleteGenre" parameterType="map">
		DELETE FROM
			`genre`
		WHERE
			`userId` = #{userId}
			AND `genre` = #{genre}
	</delete>
	
	<insert id="insertArtist" parameterType="map">
		INSERT INTO
			`artist`
		(
			`userId`
			, `artist`
		)
		VALUE
		(
			#{userId}
			, #{artist}
		)
	</insert>
	
	<select id="selectArtistList"
	parameterType="int" resultType="com.syj.spsound.music.domain.Artist">
		SELECT
			`id`
			, `userId`
			, `artist`
			, `createdAt`
			, `updatedAt`
		FROM
			`artist`
		WHERE
			`userId` = #{userId}
	</select>
	
	<select id="selectArtist"
	parameterType="map" resultType="com.syj.spsound.music.domain.Artist">
		SELECT
			`id`
			, `userId`
			, `artist`
			, `createdAt`
			, `updatedAt`
		FROM
			`artist`
		WHERE
			`userId` = #{userId}
			AND `artist` = #{artist}
	</select>
	
	<delete id="deleteArtist" parameterType="map">
		DELETE FROM
			`artist`
		WHERE
			`userId` = #{userId}
			AND `artist` = #{artist}
	</delete>
	
	<insert id="insertKeyword" parameterType="map">
		INSERT INTO
			`keyword`
		(
			`userId`
			, `keyword`
		)
		VALUE
		(
			#{userId}
			, #{keyword}
		)
	</insert>
	
	<insert id="insertPlaylist" parameterType="map">
		INSERT INTO
			`playlist`
		(
			`userId`
			, `musicId`
		)
		VALUE
		(
			#{userId}
			, #{musicId}
		)
	</insert>
		
	<select id="selectMusicId"
	parameterType="int" resultType="com.syj.spsound.music.domain.Playlist">
		SELECT
			`id`
			, `userId`
			, `musicId`
			, `createdAt`
			, `updatedAt`
		FROM
			`playlist`
		WHERE
			`userId` = #{userId}
	</select>
	
</mapper>
