@charset "UTF-8";

#wrap {
	width: 1200px;
	margin: 0 auto;
	min-height: 100%;
}

header > .logo-box {
	width: 199px;
	height: 57px;
	background-color: black;
	letter-spacing: 3px;
}

.main-text {
	margin :95px;
	letter-spacing:6px;
	color: #474747;
}

.main-btn {
	margin-top: 80px;
	margin-bottom: 10px;
	background-color: #9868bb;
	letter-spacing: 2px;	
}

#emailAlarm {
	font-size: 11px;
	margin-left: 5px;
}

a:link {
	color:navy;
	font-size:13px;
}

a:visited {
	color: #896136;
}

#floating1 {
  top: 50px;
  left: 100px;
  width: 200px;
  height: 200px;
  line-height: 200px;
  background-color: pink;
}
#floating2 {
  top: 180px;
  left: 1100px;
  width: 127px;
  height: 127px;
  line-height: 127px;
  background-color: purple;
}
#floating3 {
  top: 440px;
  left: 800px;
  width: 333px;
  height: 333px;
  line-height: 333px;
  background-color: orange;
}

#floating4 {
  top: 100px;
  left: 590px;
  width: 144px;
  height: 144px;
  line-height: 130px;
  background-color: limegreen;
}

#floating5 {
  top: 380px;
  left: 280px;
  width: 288px;
  height: 288px;
  line-height: 300px;
  background-color: skyblue;
}

.circle {
	position: absolute;
	border-radius: 50%;
	text-align: center;
	font-size: 20px;
	letter-spacing: 4px;
}

.footer-box {
	height: 80px;
	width : 90%;
	position: absolute;
	bottom :0;
	right: 5%;
	font-size : 14px;
}