@charset "UTF-8";

#wrap {
	width: 1200px;
	margin: 0 auto;
	min-height: 100%;
}

header > .logo-box {
	width: 199px;
	height: 57px;
	background-color: black;
	letter-spacing: 3px;
}

.main-text {
	margin :95px;
	letter-spacing:6px;
	color: #474747;
}

.main-btn {
	margin-top: 80px;
	margin-bottom: 10px;
	background-color: #9868bb;
	letter-spacing: 2px;	
}

#emailAlarm {
	font-size: 11px;
	margin-left: 5px;
}

a:link {
	color:navy;
	font-size:13px;
}

a:visited {
	color: #896136;
}

.circle-box {
	position: relative;
}

.circle {
	position: absolute;
	border-radius: 50%;
	text-align: center;
	font-size: 20px;
	letter-spacing: 4px;
}

#floating1 {
    top: 50px;
    left: 0px;
    width: 200px;
    height: 200px;
    line-height: 200px;
    background-color: pink;
}

#floating2 {
    top: 77px;
    left: 1060px;
    width: 167px;
    height: 167px;
    line-height: 127px;
    background-color: purple;
}

#floating3 {
    top: 440px;
    left: 899px;
    width: 323px;
    height: 323px;
    line-height: 333px;
    background-color: orange;
}

#floating4 {
    top: 80px;
    left: 529px;
    width: 299px;
    height: 299px;
    line-height: 130px;
    background-color: limegreen;
}

#floating5 {
	top: 290px;
    left: 114px;
    width: 270px;
    height: 270px;
    line-height: 300px;
    background-color: skyblue;
}

#floating6 {
    top: 600px;
    left: 0px;
    width: 174px;
    height: 174px;
    line-height: 130px;
    background-color: yellow;
}

#floating7 {
    top: 124px;
    left: 310px;
    width: 125px;
    height: 126px;
    line-height: 130px;
    background-color: #41a3cd;
}

#floating8 {
 top: 260px;
    left: 923px;
    width: 103px;
    height: 103px;
    line-height: 130px;
    background-color: #b0cdca;
}

#floating9 {
    top: 520px;
    left: 370px;
    width: 222px;
    height: 222px;
    line-height: 130px;
    background-color: #a58641;
}

#floating10 {
	    top: 433px;
    left: 660px;
   
    width: 155px;
    height: 155px;
    line-height: 130px;
    background-color: #aa7bcd;
}

.footer-box {
	height: 80px;
	width : 90%;
	position: absolute;
	bottom :0;
	right: 5%;
	font-size : 14px;
}

.next-btn {
	font-size: 39px;
	margin-top: 750px;
}

.menu {
	width: 900px;
	height: 57px;
	background-color: black;
}


.menu-name {
	color: white;
	font-size: 20px;
	margin-top: 10px;
	list-style-type: none;
	
}

.img{
	width: 400px;
	height: 400px;
}

.introduce {
	width: 600px;
	height: 50px;
}

.search {
	width: 600px;
	height: 50px;
}

.music-box {
	width : 600px;
	height: 300px;
}

.playlist {
	width: 300px;
	height: 300px;
}
